workflows_backup.json
[{"updatedAt":"2026-02-10T20:58:54.300Z","createdAt":"2026-02-08T16:50:52.584Z","id":"nNRiBoh8oOZJ9It0","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-576,-48],"id":"78cff3bc-1e05-4c35-9805-b2a18a341b29","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1TFuaapOf7i5m9se8HKmk1Aqzsnf9xNeBtKKdJey2_HI","mode":"list","cachedResultName":"Sellos Discograficos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TFuaapOf7i5m9se8HKmk1Aqzsnf9xNeBtKKdJey2_HI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":870297315,"mode":"list","cachedResultName":"Hoja 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TFuaapOf7i5m9se8HKmk1Aqzsnf9xNeBtKKdJey2_HI/edit#gid=870297315"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-368,-48],"id":"d9f42d05-c4a4-40a7-8426-d21ea18bc853","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nowTPUesRSj172GS","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ $json.Email }}","subject":"Mamame el culo cabron","emailType":"text","message":"=Hello {{ $json.CEO }},\n\nMy name is Jhean Rojas, CEO and direct representative of the artist ESECAELE. I am reaching out to {{ $json.Sello }} because of your impressive track record and influence within the {{ $json.Genero }} scene. We believe our vision aligns perfectly with the type of innovative projects you represent.\n\nI am writing to introduce you to a unique and forward-thinking music project with a strong identity, international vision, and high artistic potential. ESECAELE is an independent artist blending Latin Urban, Hip-Hop, and modern alternative influences, with a cinematic and conceptual approach to music and visuals. The project focuses on authenticity, strong storytelling, and a sound designed for global audiences.\n\nWe are currently open to: • Label partnerships • Distribution deals • Strategic collaborations • A&R connections\n\nMusic, visuals, and branding are fully developed and ready for international scaling. We are seeking partners like {{ $json.Sello }} who value artistic identity, long-term vision, and originality.\n\nYou can explore the project here: • [Link a Spotify / Streaming Platforms] • [Link a Social Media & Visual Content]\n\nFor further information, demos, or direct communication, please contact me directly.\n\nKind regards,\n\nJhean Rojas CEO & Artist Manager – ESECAELE Email: your@email.com Location: International","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-160,-48],"id":"590f6def-3d66-4e35-83b7-ae41179d30a7","name":"Send a message","webhookId":"4eb18473-a6e0-4703-9a74-64d9f7534a31","credentials":{"gmailOAuth2":{"id":"0w7CrQVs6ezxwbyW","name":"Gmail account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23afaa0c-9e45-4f02-a68e-1a81a9a2105b","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-08T16:50:52.595Z","createdAt":"2026-02-08T16:50:52.595Z","role":"workflow:owner","workflowId":"nNRiBoh8oOZJ9It0","projectId":"wjd9HjBVrxUHW90l","project":{"updatedAt":"2026-02-08T16:32:40.650Z","createdAt":"2026-02-08T16:31:00.107Z","id":"wjd9HjBVrxUHW90l","name":"Omar Liendo Martinez <omar_enrique66@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"cb40822d-42a0-417c-94d8-c6de83e1adfe"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-24T12:32:48.741Z","createdAt":"2026-02-24T12:32:48.741Z","id":"SBwNgjlDrTO8bTW9","name":"My workflow 2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"events":["invitee.created"]},"type":"n8n-nodes-base.calendlyTrigger","typeVersion":1,"position":[-608,-48],"id":"6fff784b-006c-491d-8263-7e1e6fc19509","name":"Calendly Trigger","webhookId":"1595529b-e97a-483e-8e58-bd507a85b6d6"}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0c88b648-f3c7-4db6-993a-7f9d2bec4ca1","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-24T12:32:48.764Z","createdAt":"2026-02-24T12:32:48.764Z","role":"workflow:owner","workflowId":"SBwNgjlDrTO8bTW9","projectId":"wjd9HjBVrxUHW90l","project":{"updatedAt":"2026-02-08T16:32:40.650Z","createdAt":"2026-02-08T16:31:00.107Z","id":"wjd9HjBVrxUHW90l","name":"Omar Liendo Martinez <omar_enrique66@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"cb40822d-42a0-417c-94d8-c6de83e1adfe"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-24T15:11:21.132Z","createdAt":"2026-02-24T15:11:21.132Z","id":"xh7vDjTzK9FiBdAu","name":"My workflow 3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"93238625-29aa-42fc-8957-f00634fafdae","name":"Scheduled Start: Check for New Posts","type":"n8n-nodes-base.scheduleTrigger","position":[-1120,448],"typeVersion":1.2},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1hG2NMi-4fMa7D5qGonCN8bsYVya4L2TOB_8mI4XK-9k","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hG2NMi-4fMa7D5qGonCN8bsYVya4L2TOB_8mI4XK-9k/edit?usp=drivesdk","cachedResultName":"Medium Post Automation"},"sheetName":{"__rl":true,"mode":"list","value":1510137257,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hG2NMi-4fMa7D5qGonCN8bsYVya4L2TOB_8mI4XK-9k/edit#gid=1510137257","cachedResultName":"Postİ"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"0"}]},"options":{"returnFirstMatch":true}},"id":"28d8edb2-dc75-45af-beea-6b2d006f2190","name":"1. Get Next Post Idea from Sheet","type":"n8n-nodes-base.googleSheets","position":[-800,448],"typeVersion":4.5},{"parameters":{"assignments":{"assignments":[{"id":"aa3b9a02-ac6a-4d7f-937f-a0e6e566a0c8","name":"Topic","type":"string","value":"={{ $json.Topic }}"},{"id":"e48783e8-5f6b-4c54-bf4f-c004414dc510","name":"TargetAudience","type":"string","value":"={{ $json.Audience }}"},{"id":"c499a954-b4c6-4702-ab86-3656aa2b1783","name":"BrandVoice","type":"string","value":"={{ $json.Voice }}"},{"id":"210f7103-4d6b-42e9-9168-fd99dff94b5a","name":"Platform","type":"string","value":"={{ $json.Platform }}"}]},"options":{}},"id":"3ea28e3a-7206-4ece-8e5b-b1006208881f","name":"2. Prepare Input Variables (Topic, Audience, etc.)","type":"n8n-nodes-base.set","position":[-496,448],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"=","hasOutputParser":true,"messages":{"messageValues":[{"message":"=<prompt>     <role>         You are a **highly imaginative Social Media Strategist** specializing in generating **unique, platform-aware content CONCEPTS** for **Instagram and LinkedIn**. You think beyond basic formats and consider audience engagement.     </role>      <task>         Based *only* on the `Topic`, `Target Audience`, `Brand Voice`, AND **target `Platform` ('Instagram' or 'LinkedIn')**, generate **exactly 1 creative content CONCEPT**. Focus on the **core message, angle, or hook**. The suggested format **MUST be \"Single Image\"**.         1.  **Platform Optimization:** **Explicitly tailor** the *type* and *angle* of the concept to the specified `Platform`. Consider typical user expectations and content formats:             * **Instagram:** Often more visual, storytelling, personal, community-focused, impactful single images.             * **LinkedIn:** Can utilize impactful single images to convey data points, key takeaways, or thought-provoking visuals supporting a concise message.         2.  **Originality:** Avoid common tropes (like basic quotes) unless the input strongly suggests it. Explore diverse angles: striking visual representations of data, metaphorical imagery, thought-provoking questions presented visually, behind-the-scenes moments captured in a compelling image, key message highlighted graphically.         3.  **Format Suggestion:** The format **MUST be \"Single Image\"**. The **CONCEPT is primary, the format is fixed**.      </task>      <input_context>         <param name=\"Topic\">{{ $json.Topic }}</param>         <param name=\"TargetAudience\">{{ $json.TargetAudience }}</param>         <param name=\"BrandVoice\">{{ $json.BrandVoice }}</param>         <param name=\"Platform\">{{ $json.Platform }}</param>     </input_context>      <output_instructions>         Your response MUST be a single, valid JSON object containing exactly one key: `ideas`.         The value of `ideas` MUST be an array containing exactly 1 object.         The object in the array MUST have two keys: `concept` (string: the descriptive concept text) and `suggested_format` (string: **MUST be \"Single Image\"**).         Example: `{\"ideas\": [{\"concept\": \"Concept text...\", \"suggested_format\": \"Single Image\"}]}`         Do NOT include any other text, explanations, or formatting outside the JSON structure.     </output_instructions> </prompt>"}]}},"id":"41bb6045-4f26-44e7-af48-eb7630dec436","name":"3a. Generate Content Concept (Gemini)","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-32,448],"typeVersion":1.5},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"id":"9ade28c5-88d0-4f8a-bdf8-9f4ea846d6ec","name":"(LLM Model for Concept)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-32,608],"typeVersion":1},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"ideas\": {\n      \"type\": \"array\",\n      \"description\": \"An array containing exactly 1 content concept.\",\n      \"minItems\": 1,\n      \"maxItems\": 1,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"concept\": {\n            \"type\": \"string\",\n            \"description\": \"The detailed text describing the content concept for a Single Image.\"\n          },\n          \"suggested_format\": {\n            \"type\": \"string\",\n            \"description\": \"The post format, which MUST be 'Single Image'.\",\n            \"const\": \"Single Image\"\n          }\n        },\n        \"required\": [\n          \"concept\",\n          \"suggested_format\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"ideas\"\n  ]\n}"},"id":"719e362c-8a15-4b82-860c-9c73966a5d12","name":"(Parse Concept JSON)","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[128,608],"typeVersion":1.2},{"parameters":{"promptType":"define","text":"=","hasOutputParser":true,"messages":{"messageValues":[{"message":"=<prompt>\n    <role>\n        You are an **Expert Instagram/LinkedIn Content Strategist and AI Image Prompt Engineer**. You excel at elaborating concepts based on user feedback and crafting distinct, detailed, and visually consistent prompt options tailored for the target platform.\n    </role>\n\n    <task>\n        1.  **Analyze** the `Chosen Idea`, `User Visual Input` (if provided and relevant), and **target `Platform`** to determine the optimal post format (in this case, assumed to be Single Image based on the output) and elaborate this into a practical `expanded_post_concept`. **Justify format choice based on concept AND platform norms.**\n        2.  **Incorporate** the user's visual direction (if any) into the concept description. If no specific visual input was given, propose a clear visual direction that aligns with the concept and platform.\n        3.  Generate **TWO DISTINCT OPTIONS** for the image prompts based on the `expanded_post_concept`. **Tailor the visual style and content nuances** described in the prompts to the target `Platform`. (E.g., LinkedIn visuals might be cleaner, more data-oriented; Instagram more lifestyle or emotive).\n        4.  **Ensure Distinction:** The two options should offer meaningful variety (e.g., style, composition, focus) while remaining true to the core concept.\n        5.  **Detail:** Prompts should be highly detailed, suitable for advanced AI image generators (include subject, action, setting, style, mood, composition, lighting, color palette keywords).\n    </task>\n\n    <input_context>\n        <param name=\"ChosenIdea\">{{ $json.output.ideas[0].concept }}</param>\n        <param name=\"OriginalTopic\"> {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Topic }}</param>\n        <param name=\"TargetAudience\"> {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.TargetAudience }}</param>\n        <param name=\"BrandVoice\"> {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.BrandVoice }}</param>\n        <param name=\"Platform\"> {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Platform }}</param>\n        </input_context>\n\n    <output_instructions>\n        Your response MUST be a single, valid JSON object containing exactly two keys: `expanded_post_concept` and `prompt_options`.\n        - `expanded_post_concept` (string): The elaborated visual concept, stating Single Image format and incorporating user input/platform considerations.\n        - `prompt_options` (array): MUST contain exactly TWO objects.\n            - Each object represents one prompt option and MUST have two keys:\n                - `option_description` (string): Briefly describe the distinct angle/style of this option (e.g., \"Option 1: Hyperrealistic...\").\n                - `prompts` (array of strings): Contains ONE string representing the detailed prompt for the single image.\n       \n         \n        Do NOT include any text outside this JSON structure. Do NOT generate captions here.\n    </output_instructions>\n</prompt>"}]}},"id":"549e23ef-9dbc-4681-a69f-b54ecee3591e","name":"3b. Generate Image Prompt Options (Gemini)","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[720,448],"typeVersion":1.5},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"id":"a6f895c2-d482-4fe9-8b54-001c34e22374","name":"(LLM Model for Prompts)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[720,608],"typeVersion":1},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"expanded_post_concept\": {\n      \"type\": \"string\",\n      \"description\": \"The elaborated visual concept, stating Single Image format and incorporating user input/platform considerations.\"\n    },\n    \"prompt_options\": {\n      \"type\": \"array\",\n      \"description\": \"An array containing exactly TWO prompt options for the single image concept.\",\n      \"minItems\": 2,\n      \"maxItems\": 2,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"option_description\": {\n            \"type\": \"string\",\n            \"description\": \"Briefly describes the distinct angle/style of this option (e.g., 'Option 1: Hyperrealistic...').\"\n          },\n          \"prompts\": {\n            \"type\": \"array\",\n            \"description\": \"Contains ONE detailed prompt string for the single image.\",\n            \"minItems\": 1,\n            \"maxItems\": 1,\n            \"items\": {\n              \"type\": \"string\",\n              \"description\": \"A detailed image generation prompt.\"\n            }\n          }\n        },\n        \"required\": [\n          \"option_description\",\n          \"prompts\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"expanded_post_concept\",\n    \"prompt_options\"\n  ]\n}"},"id":"5eb80a4f-2e67-4960-ba90-534283024b6b","name":"(Parse Prompts JSON)","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[880,608],"typeVersion":1.2},{"parameters":{"promptType":"define","text":"=","hasOutputParser":true,"messages":{"messageValues":[{"message":"=<prompt>\n    <role>\n        You are an AI Instagram/LinkedIn **Caption Writer**. You specialize in crafting concise, engaging, and contextually relevant captions based on a generated image (represented by its prompt) and the overall content strategy, specifically tailored for the target platform.\n    </role>\n\n    <task>\n        Write a short, effective social media caption **specifically tailored for the target `Platform` ('Instagram' or 'LinkedIn')**.\n        * The caption must complement the image described by `ImagePrompt` and align with all context parameters (`ChosenIdea`, `OriginalTopic`, `TargetAudience`, `BrandVoice`).\n        * **Platform Style:** Adapt tone, length, calls-to-action, and hashtag usage:\n            * **Instagram:** Can be more conversational, use more emojis, ask engaging questions, often benefits from slightly longer, more storytelling captions if relevant. Use a mix of popular and niche hashtags (3-7 recommended).\n            * **LinkedIn:** Generally more professional, concise, focused on insights or value proposition. Calls-to-action often relate to reading more, commenting with professional opinions, or business objectives. Use targeted, professional hashtags (1-3 recommended).\n        * Include 1-5 relevant, platform-appropriate hashtags.\n    </task>\n\n    <input_context>\n        <param name=\"ImagePrompt\">{{ $json.output.prompt_options[0].prompts[0] }}</param>\n        <param name=\"ChosenIdea\">{{ $('3a. Generate Content Concept (Gemini)').item.json.output.ideas[0].concept }} </param>\n        <param name=\"OriginalTopic\">{{ $('1. Get Next Post Idea from Sheet').item.json.Topic }} </param>\n        <param name=\"TargetAudience\">{{ $('1. Get Next Post Idea from Sheet').item.json.Audience }}</param>\n        <param name=\"BrandVoice\">{{ $('1. Get Next Post Idea from Sheet').item.json.Voice }} </param>\n        <param name=\"Platform\">{{ $('1. Get Next Post Idea from Sheet').item.json.Platform }} </param>\n    </input_context>\n\n    <output_instructions>\n        Your response MUST be a single, valid JSON object containing exactly one key: `Caption`.\n        The value of `Caption` MUST be a string containing the generated caption text, including hashtags.\n        Example: `{\"Caption\": \"Caption text tailored for LinkedIn goes here. #ProfessionalDevelopment #IndustryInsights\"}`\n        Do NOT include any other text, explanations, or formatting outside the JSON structure.\n    </output_instructions>\n</prompt>"}]}},"id":"68f495b4-fc7e-4467-87e6-8de34be8fcba","name":"3c. Generate Post Caption (Gemini)","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1680,448],"typeVersion":1.5},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"id":"808d4364-201b-49c7-82f6-7b339d285c54","name":"(LLM Model for Caption)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1696,608],"typeVersion":1},{"parameters":{"jsonSchemaExample":"{\n\t\"Caption\": \"Thee future of call centers is here!\"\n}"},"id":"bc249960-8d86-4817-91d2-d6c7e6eefcf2","name":"(Parse Caption JSON)","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1840,608],"typeVersion":1.2},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/models/black-forest-labs/flux-1.1-pro-ultra/predictions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"input\": {\n    \"raw\": false,\n    \"prompt\": \"{{ $('3b. Generate Image Prompt Options (Gemini)').item.json.output.prompt_options[0].prompts[0] }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"output_format\": \"jpg\",\n    \"safety_tolerance\": 6\n  }\n}","options":{}},"id":"5366bd98-a8da-481f-b3bc-e55a06e95ae2","name":"4. Generate Image using Prompt 1 (Replicate Flux)","type":"n8n-nodes-base.httpRequest","position":[2496,448],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"8a4260ba-3bde-4444-8f42-8a8abd51ff0c","name":"ImageURL","type":"string","value":"={{ $json.output }}"},{"id":"1953ae03-6a86-4847-8686-5a928637be1d","name":"Caption","type":"string","value":"={{ $('3c. Generate Post Caption (Gemini)').item.json.output.Caption }}"}]},"options":{}},"id":"0f5cb9ff-f402-4dd6-ac9f-d1fbfe9c409e","name":"5. Prepare Data for Instagram API","type":"n8n-nodes-base.set","position":[3008,448],"typeVersion":3.4},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"17841473009917118","edge":"media","options":{"queryParameters":{"parameter":[{"name":"caption","value":"={{ $json.Caption }}"},{"name":"image_url","value":"={{ $json.ImageURL }}"}]}}},"id":"9c6abd95-5e66-4b93-bc9e-137ca6c334dd","name":"6a. Create Instagram Media Container","type":"n8n-nodes-base.facebookGraphApi","position":[3312,448],"typeVersion":1},{"parameters":{},"id":"bf69f139-133a-4b10-972a-e3ae068a02f4","name":"6b. Wait for Container Processing","type":"n8n-nodes-base.wait","position":[3616,448],"webhookId":"1b14c8bf-151a-4054-8215-093dd5b6cbcc","typeVersion":1.1},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"17841473009917118","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"id":"005aa079-231f-47ac-9d0a-b6bfb4316a89","name":"6c. Publish Post to Instagram","type":"n8n-nodes-base.facebookGraphApi","position":[3920,448],"typeVersion":1},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1hG2NMi-4fMa7D5qGonCN8bsYVya4L2TOB_8mI4XK-9k","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hG2NMi-4fMa7D5qGonCN8bsYVya4L2TOB_8mI4XK-9k/edit?usp=drivesdk","cachedResultName":"Medium Post Automation"},"sheetName":{"__rl":true,"mode":"list","value":1510137257,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hG2NMi-4fMa7D5qGonCN8bsYVya4L2TOB_8mI4XK-9k/edit#gid=1510137257","cachedResultName":"Postİ"},"columns":{"value":{"Topic":"={{ $('1. Get Next Post Idea from Sheet').item.json.Topic }}","Status":"1"},"schema":[{"id":"Topic","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Audience","type":"string","display":true,"removed":true,"required":false,"displayName":"Audience","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Voice","type":"string","display":true,"removed":true,"required":false,"displayName":"Voice","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Platform","type":"string","display":true,"removed":true,"required":false,"displayName":"Platform","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Topic"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"d908dcc7-ae2b-486d-9276-4618e74d2ea4","name":"7. Update Post Status in Sheet","type":"n8n-nodes-base.googleSheets","position":[4576,448],"typeVersion":4.5},{"parameters":{"content":"# 01. Content Concept Generation\n\n**Purpose:** This step uses Google Gemini to generate **one unique content concept** tailored for the specified platform (Instagram/LinkedIn), based on the input topic, audience, and brand voice. The format is fixed to \"Single Image\".\n\n**Input (from Node '2. Prepare Input Variables'):**\n*   `Topic` (string)\n*   `TargetAudience` (string)\n*   `BrandVoice` (string)\n*   `Platform` (string: 'Instagram' )\n\n**Output (JSON):**\n*   `{\"ideas\": [{\"concept\": \"Generated concept text...\", \"suggested_format\": \"Single Image\"}]}`","height":740,"width":460},"id":"d325710c-9b2d-4d1a-ae28-37b992441b75","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-112,0],"typeVersion":1},{"parameters":{"content":"# 03b. Image Generation\n\n**Purpose:** Generates the actual image using the **first detailed prompt** created in step 3b. It sends this prompt to the Replicate API, specifically using the 'Flux 1.1 Pro Ultra' model.\n\n**Input (from Node '3b. Generate Image Prompt Options'):**\n*   `prompt` (string: The *first* prompt string from `prompt_options[0].prompts[0]`)\n\n**Output (from Replicate API):**\n*   JSON containing the `output` URL of the generated image (e.g., `{\"output\": \"https://replicate.delivery/...\"}`)","height":740,"width":380,"color":4},"id":"7f7f62f4-4dde-45e6-b418-250290e033c4","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2352,0],"typeVersion":1},{"parameters":{"content":"# 02. Image Prompt Elaboration & Options\n\n**Purpose:** Takes the generated content concept and expands on it to create **two distinct, detailed image generation prompts**. These prompts are optimized for the target platform and suitable for AI image generators like Replicate Flux.\n\n**Input (from Nodes '2. Prepare Input Variables' & '3a. Generate Content Concept'):**\n*   `ChosenIdea` (string: Concept from step 3a)\n*   `OriginalTopic` (string)\n*   `TargetAudience` (string)\n*   `BrandVoice` (string)\n*   `Platform` (string: 'Instagram')\n\n**Output (JSON):**\n*   `{\"expanded_post_concept\": \"Elaborated concept description...\", \"prompt_options\": [{\"option_description\": \"Option 1: ...\", \"prompts\": [\"Detailed prompt 1...\"]}, {\"option_description\": \"Option 2: ...\", \"prompts\": [\"Detailed prompt 2...\"]}]}`\n","height":740,"width":740,"color":2},"id":"a9b56027-3e81-45cf-8620-dd7a63b16ae1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[528,0],"typeVersion":1},{"parameters":{"content":"# 03a. Caption Generation\n\n**Purpose:** Uses Google Gemini to write a short, engaging social media caption **specifically tailored for the target platform**. The caption complements the image (represented by the first generated prompt) and aligns with the overall content strategy. Includes relevant hashtags.\n\n**Input (from Nodes '1. Get Next Post Idea', '3a. Generate Content Concept', '3b. Generate Image Prompt Options'):**\n*   `ImagePrompt` (string: The *first* prompt from step 3b)\n*   `ChosenIdea` (string: Concept from step 3a)\n*   `OriginalTopic` (string)\n*   `TargetAudience` (string)\n*   `BrandVoice` (string)\n*   `Platform` (string: 'Instagram' or 'LinkedIn')\n\n**Output (JSON):**\n*   `{\"Caption\": \"Generated caption text with #hashtags...\"}`","height":740,"width":620,"color":3},"id":"e1d60f4c-1c1f-4a34-b64b-6a59b0c9785a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1520,0],"typeVersion":1},{"parameters":{"content":"# 04. Instagram Publishing\n\n**Purpose:** This block takes the final image URL and caption, prepares them for the Instagram Graph API, uploads the media to create a container, waits for Instagram to process it, and finally publishes the container as a post to the connected Instagram account.\n\n**Input (from Nodes '3c. Generate Post Caption (Gemini)' & '4. Generate Image using Prompt 1 (Replicate Flux)'):**\n*   `ImageURL` (string: URL of the generated image from Replicate)\n*   `Caption` (string: Generated post text with hashtags from Gemini)\n\n**Process:**\n1.  **Format Data (`5. Prepare Data...`):** Organizes the ImageURL and Caption into the required structure.\n2.  **Create Media Container (`6a. Create...`):** Sends the `image_url` and `caption` to the Instagram Graph API (`media` edge) to initiate the upload. Receives a container `id`.\n3.  **Wait for Processing (`6b. Wait...`):** Pauses the workflow to allow Instagram's servers time to process the uploaded media. *Note: Wait time might need adjustment depending on media size and API responsiveness.*\n4.  **Publish Media (`6c. Publish...`):** Sends the container `id` (as `creation_id`) to the Instagram Graph API (`media_publish` edge) to make the post live.\n\n**Output:** The content is published as a new post on the target Instagram profile. The final node (`6c. Publish Post...`) returns the `id` of the successfully published media object on Instagram.","height":740,"width":1160,"color":5},"id":"7eddf708-60b2-4890-8cf4-9e230c5eb3b9","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2928,0],"typeVersion":1},{"parameters":{"content":"# 05. Finalize: Update Sheet Status\n\n**Purpose:** Marks the processed post idea as completed in the Google Sheet.\n\n**Action:** Finds the corresponding row in the sheet (using the 'Topic' to match) and updates its 'Status' column to '1'. This prevents the same idea from being processed again by the workflow in future runs.","height":300,"width":380,"color":6},"id":"825ce176-4ebd-4399-acd8-f2552bc31535","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[4768,352],"typeVersion":1},{"parameters":{},"id":"13deea8b-cd49-4478-b5ce-28ed754aa1db","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[32,528],"typeVersion":1},{"parameters":{"content":"# 00. Scheduled Start & Input Preparation\n\n**Purpose:** Initiates the workflow automatically based on the user-defined schedule. Fetches the next available post idea (Status=0) from Google Sheets and prepares the necessary input variables (`Topic`, `Audience`, `Voice`, `Platform`) for the content generation steps.","height":240,"width":420},"id":"02dfc732-731d-4201-980f-c7f94a9550eb","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-1632,384],"typeVersion":1}],"connections":{"(Parse Caption JSON)":{"ai_outputParser":[[{"node":"3c. Generate Post Caption (Gemini)","type":"ai_outputParser","index":0}]]},"(Parse Concept JSON)":{"ai_outputParser":[[{"node":"3a. Generate Content Concept (Gemini)","type":"ai_outputParser","index":0}]]},"(Parse Prompts JSON)":{"ai_outputParser":[[{"node":"3b. Generate Image Prompt Options (Gemini)","type":"ai_outputParser","index":0}]]},"(LLM Model for Caption)":{"ai_languageModel":[[{"node":"3c. Generate Post Caption (Gemini)","type":"ai_languageModel","index":0}]]},"(LLM Model for Concept)":{"ai_languageModel":[[{"node":"3a. Generate Content Concept (Gemini)","type":"ai_languageModel","index":0}]]},"(LLM Model for Prompts)":{"ai_languageModel":[[{"node":"3b. Generate Image Prompt Options (Gemini)","type":"ai_languageModel","index":0}]]},"6c. Publish Post to Instagram":{"main":[[{"node":"7. Update Post Status in Sheet","type":"main","index":0}]]},"1. Get Next Post Idea from Sheet":{"main":[[{"node":"2. Prepare Input Variables (Topic, Audience, etc.)","type":"main","index":0}]]},"5. Prepare Data for Instagram API":{"main":[[{"node":"6a. Create Instagram Media Container","type":"main","index":0}]]},"6b. Wait for Container Processing":{"main":[[{"node":"6c. Publish Post to Instagram","type":"main","index":0}]]},"3c. Generate Post Caption (Gemini)":{"main":[[{"node":"4. Generate Image using Prompt 1 (Replicate Flux)","type":"main","index":0}]]},"6a. Create Instagram Media Container":{"main":[[{"node":"6b. Wait for Container Processing","type":"main","index":0}]]},"Scheduled Start: Check for New Posts":{"main":[[{"node":"1. Get Next Post Idea from Sheet","type":"main","index":0}]]},"3a. Generate Content Concept (Gemini)":{"main":[[{"node":"3b. Generate Image Prompt Options (Gemini)","type":"main","index":0}]]},"3b. Generate Image Prompt Options (Gemini)":{"main":[[{"node":"3c. Generate Post Caption (Gemini)","type":"main","index":0}]]},"4. Generate Image using Prompt 1 (Replicate Flux)":{"main":[[{"node":"5. Prepare Data for Instagram API","type":"main","index":0}]]},"2. Prepare Input Variables (Topic, Audience, etc.)":{"main":[[{"node":"3a. Generate Content Concept (Gemini)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"3c. Generate Post Caption (Gemini)":[{"json":{"output":{"Caption":"The future of call centers is here, and it's all about human + AI collaboration ✨. We believe AI should enhance, not replace, the human touch, leading to better customer experiences and happier agents. Ready to see how AI can transform your customer interactions? 🤔 \n\n#AIinCX #CallCenterAI #CustomerExperience #ArtificialIntelligence #TechInnovation #FutureofWork #HumanAI"}}}],"3a. Generate Content Concept (Gemini)":[{"json":{"output":{"ideas":[{"concept":"Visually striking image of a human hand interacting with a glowing AI interface. Caption highlights how AI enhances, not replaces, human connection in call centers, leading to better customer experiences. Focus on the seamless collaboration between humans and AI.","suggested_format":"Single Image"}]}}}],"3b. Generate Image Prompt Options (Gemini)":[{"json":{"output":{"prompt_options":[{"prompts":["Close-up shot of a diverse human hand gently touching a shimmering, holographic AI interface that displays abstract data visualizations. The background is blurred, showing a modern, bright call center environment. Soft, diffused lighting with hints of neon blue and teal. Ethereal, optimistic mood. Style: Digital art, futuristic, ethereal. Color palette: Pastel blues, teals, and whites with subtle glowing accents. Composition: Focus on the hand and interface, using shallow depth of field."],"option_description":"Option 1: Ethereal and futuristic. Focus on soft, diffused lighting and glowing elements to create a dreamlike, optimistic atmosphere."},{"prompts":["A slightly wider shot showcasing a human hand confidently interacting with a vibrant, glowing AI interface displaying customer profiles and real-time data. The background shows a bustling call center with diverse agents working collaboratively. Dramatic, focused lighting with strong shadows and vibrant color accents. Energetic, innovative mood. Style: High-resolution photograph, modern, bold. Color palette: Deep blues, purples, and oranges with bright yellow accents on the interface. Composition: Dynamic angle, leading lines towards the interface and agents in the background, creating depth."],"option_description":"Option 2: Bold and dynamic. Focus on contrast and vibrant colors to create a visually striking and energetic image."}],"expanded_post_concept":"Single Image post for Instagram showcasing a human hand interacting with a glowing AI interface. The image should convey a sense of collaboration and enhancement, not replacement, emphasizing the positive impact of AI on human connection in call centers. Given Instagram's visual nature, the image should be aesthetically pleasing, modern, and slightly stylized to attract attention and reflect an innovative brand voice."}}}],"4. Generate Image using Prompt 1 (Replicate Flux)":[{"json":{"id":"be6ctjws49rma0cpjcy8ej169r","logs":"","urls":{"get":"https://api.replicate.com/v1/predictions/be6ctjws49rma0cpjcy8ej169r","cancel":"https://api.replicate.com/v1/predictions/be6ctjws49rma0cpjcy8ej169r/cancel","stream":"https://stream.replicate.com/v1/files/bcwr-kvewu3jt6ec4id3svfazffgcxpyifayvqjhxloix3oncveoazwya"},"error":null,"input":{"raw":false,"prompt":"Close-up shot of a diverse human hand gently touching a shimmering, holographic AI interface that displays abstract data visualizations. The background is blurred, showing a modern, bright call center environment. Soft, diffused lighting with hints of neon blue and teal. Ethereal, optimistic mood. Style: Digital art, futuristic, ethereal. Color palette: Pastel blues, teals, and whites with subtle glowing accents. Composition: Focus on the hand and interface, using shallow depth of field.","aspect_ratio":"1:1","output_format":"jpg","safety_tolerance":6},"model":"black-forest-labs/flux-1.1-pro-ultra","output":"https://replicate.delivery/xezq/LJHVcPdaiexmPyfQnkDBi6o2HpkFWKzeoktHmS5uEvgSIgRpA/tmptt54uqf7.jpg","status":"processing","version":"hidden","created_at":"2025-05-02T23:02:24.29Z","data_removed":false}}],"2. Prepare Input Variables (Topic, Audience, etc.)":[{"json":{"Topic":"Call Center Transformation with Artificial Intelligence","Platform":"Instagram","BrandVoice":"Informative, reassuring, innovative","TargetAudience":"Enterprise customers, tech enthusiasts, customer experience professionals"}}]},"versionId":"21d85d5f-48f6-4b4e-bd5a-a3840b4e1df7","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-24T15:11:21.139Z","createdAt":"2026-02-24T15:11:21.139Z","role":"workflow:owner","workflowId":"xh7vDjTzK9FiBdAu","projectId":"wjd9HjBVrxUHW90l","project":{"updatedAt":"2026-02-08T16:32:40.650Z","createdAt":"2026-02-08T16:31:00.107Z","id":"wjd9HjBVrxUHW90l","name":"Omar Liendo Martinez <omar_enrique66@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"cb40822d-42a0-417c-94d8-c6de83e1adfe"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-24T15:41:40.391Z","createdAt":"2026-02-24T15:41:40.391Z","id":"Y8UYTUr7yf1SNTvu","name":"💥 Generate AI videos and carousels with Blotato and publish to Instagram & TikTok","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"0ce4045e-3936-4523-94da-e81a01cb64a8","name":"Create visual - tweet card carousel","type":"@blotato/n8n-nodes-blotato.blotatoTool","position":[4400,1024],"typeVersion":2,"credentials":{}},{"parameters":{},"id":"9f1093e6-3d4b-449a-b43a-96593c504a85","name":"Create visual - AI image video","type":"@blotato/n8n-nodes-blotato.blotatoTool","position":[4560,1024],"typeVersion":2,"credentials":{}},{"parameters":{},"id":"6db0033b-5067-49c9-bfe8-0987a9e5abf1","name":"Post to Instagram","type":"@blotato/n8n-nodes-blotato.blotatoTool","position":[4960,1024],"typeVersion":2,"credentials":{}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}","contextWindowLength":35},"id":"418c36f3-ab2e-438f-906e-b9c6eb727360","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[3760,1040],"typeVersion":1.3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"716e6767-03ef-4e62-9670-ed37a6405e1b","name":"OpenAI ChatGPT","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[3600,1040],"typeVersion":1.2},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"674fff4d-25ec-4b91-9aa6-59ff3cbbc275","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[3664,624],"webhookId":"ea7ab04d-bdf9-4740-a769-2e88449be098","typeVersion":1.2},{"parameters":{},"id":"e2bf7431-b2c9-41d7-9beb-c42d8acb53c5","name":"Create source","type":"@blotato/n8n-nodes-blotato.blotatoTool","position":[3984,1024],"typeVersion":2,"credentials":{}},{"parameters":{},"id":"62e206ae-7f6c-43fb-99e9-5a9c307f4bb2","name":"Get source","type":"@blotato/n8n-nodes-blotato.blotatoTool","position":[4128,1024],"typeVersion":2,"credentials":{}},{"parameters":{},"id":"4cd48eaf-f921-4875-9ee1-06e4124e9b67","name":"Post to TikTok","type":"@blotato/n8n-nodes-blotato.blotatoTool","position":[5120,1024],"typeVersion":2,"credentials":{}},{"parameters":{},"id":"8ba20ca4-ec25-40b1-99c2-da2b186c6604","name":"Get visual","type":"@blotato/n8n-nodes-blotato.blotatoTool","position":[4704,1024],"typeVersion":2,"credentials":{}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"id":"badd2729-8266-402e-92a0-dfc5da99ef3c","name":"Send notification","type":"n8n-nodes-base.telegramTool","position":[5296,1024],"webhookId":"f93b56c0-b0b5-4e29-9e7c-13aef7bd0db4","typeVersion":1.2},{"parameters":{"promptType":"define","text":"=input user from telegram : {{ $json.message.text }}","options":{"systemMessage":"=# System Message – Social Media Autopilot (End-to-End Execution)\n\nYou are an autonomous AI agent responsible for fully executing a social media automation workflow.\nYou MUST complete the process end-to-end:\ncontent extraction → visual creation → status verification → publication → Telegram confirmation.\n\nThe user input comes from Telegram via:\n`{{ $json.message.text }}`\n\nThe message always contains:\n- A public URL (YouTube, article, Instagram, TikTok, etc.)\n- A request indicating the target platform: Instagram or TikTok\n\nYour responsibility is to analyze the message, take decisions, and execute ALL required tools until the content is published.\n\n---\n\n## STEP 1 — Extract URL and Platform\n- Extract the first valid public URL from the message.\n- Detect the target platform:\n  - If the message mentions \"instagram\" → platform = Instagram\n  - If the message mentions \"tiktok\" → platform = TikTok\n- If the platform is unclear, ask the user on Telegram to clarify and STOP.\n\n---\n\n## STEP 2 — Create Source\n- Call **Create source** with the extracted URL.\n\n---\n\n## STEP 3 — Poll Source Until COMPLETED\n- Call **Get source** repeatedly.\n- Continue until `status = completed`.\n- Do NOT continue if status is pending or processing.\n- Once completed, extract the `content`.\n\n---\n\n## STEP 4 — Create Visual\nUse the extracted content:\n\n- If platform = Instagram:\n  - Call **Create visual - tweet card carousel**\n- If platform = TikTok:\n  - Call **Create visual - AI image video**\n\n---\n\n## STEP 5 — Poll Visual Until DONE (MANDATORY)\n- Call **Get visual**.\n- Read the `status`.\n\nIf `status` is any of the following:\n- `generating-script`\n- `processing`\n- `queued`\n- `pending`\n- anything other than `done`\n\n→ You MUST call **Get visual** again until `status = done`.\n\nYou are NOT allowed to stop or publish unless the status is exactly `done`.\n\n---\n\n## STEP 6 — Retrieve Visual Media\nOnce `status = done`:\n- Extract the visual ID.\n- Extract the visual media URL:\n  - Use `mediaUrl` for videos\n  - Use `imageUrls` for carousels\n- Validate that the media URL(s) are not null.\n\n---\n\n## STEP 7 — Publish to Social Media (MANDATORY)\nAfter the visual is fully ready, you MUST publish it.\n\n- If platform = Instagram:\n  - Call **Post to Instagram** using the visual media URL(s).\n- If platform = TikTok:\n  - Call **Post to TikTok** using the visual media URL.\n\nPublishing is a REQUIRED step. Do NOT skip it.\n\n---\n\n## STEP 8 — Send Telegram Confirmation (FINAL STEP)\nONLY after successful publication:\n- Send a Telegram message confirming publication.\n- Include:\n  - Platform name\n  - Success confirmation\n\nExample:\n\"✅ Published successfully on Instagram.\"\n\nThis Telegram message MUST be the last action.\n\n---\n\n## CRITICAL RULES\n- Never stop execution before publication.\n- Never send Telegram confirmation before posting.\n- Always respect the execution order.\n- Reliability and completion are more important than speed.\n\n---\n\n## OBJECTIVE\nGuarantee a fully automated and reliable pipeline:\nURL → Source → Visual → Status DONE → Publish → Telegram confirmation.\n","maxIterations":100}},"id":"74a19c6a-dac0-4025-93eb-e7d77acb639d","name":"Social Media Autopilot","type":"@n8n/n8n-nodes-langchain.agent","position":[4128,624],"typeVersion":2.2},{"parameters":{"content":"# 🚀  Generate AI videos and carousels with Blotato and publish to Instagram & TikTok\n## (By Dr. Firas)\n\n![SORA2 logo](https://www.dr-firas.com/blotato-miniature.png)\n\n# 📘 Documentation  \nAccess detailed setup instructions, API config, platform connection guides, and workflow customization tips: 📎 [Open the full documentation on Notion](https://automatisation.notion.site/Turn-AI-Videos-Carousels-Into-Income-with-n8n-Fully-Automated-x-Blotato-30c3d6550fd9804b999ede955fdf409d?source=copy_link)\n\n## 🔐 Setup\n\nTo use this workflow, you will need:\n\n- An active **n8n** instance\n- A **[Blotato](https://blotato.com/?ref=firas)** account with API access\n- Instagram and/or TikTok accounts connected in **[Blotato](https://blotato.com/?ref=firas)**\n- A **Telegram Bot** for triggering the workflow and receiving notifications\n\nSetup steps:\n1. Import the workflow JSON into n8n.\n2. Add your **[Blotato](https://blotato.com/?ref=firas)** API credentials.\n3. Configure the Telegram Trigger with your bot token.\n4. Select your Instagram and TikTok accounts in the **[Blotato](https://blotato.com/?ref=firas)** post nodes.\n5. Activate the workflow.\n\n---\n## What this workflow does\n\nThis workflow provides a complete **end-to-end automation pipeline**:\n\n1. Receives a message from **Telegram** containing a public URL and a publishing instruction.\n2. Creates a content source from the URL using **Blotato**.\n3. Retrieves and validates the extracted text content.\n4. Generates either:\n   - An **AI tweet-card carousel** for Instagram, or\n   - An **AI-generated video** for TikTok.\n5. Continuously checks the visual generation status until it is fully completed.\n6. Publishes the final media automatically to **Instagram or TikTok**.\n7. Sends a confirmation message back to Telegram once the post is successfully published.\n","height":1428,"width":652},"id":"324261cc-7155-4c5a-b995-11520526c729","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2832,496],"typeVersion":1}],"connections":{"Get source":{"ai_tool":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6aeef7af-4ab5-4900-a50f-ebc6812e6b63","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-24T15:41:40.404Z","createdAt":"2026-02-24T15:41:40.404Z","role":"workflow:owner","workflowId":"Y8UYTUr7yf1SNTvu","projectId":"wjd9HjBVrxUHW90l","project":{"updatedAt":"2026-02-08T16:32:40.650Z","createdAt":"2026-02-08T16:31:00.107Z","id":"wjd9HjBVrxUHW90l","name":"Omar Liendo Martinez <omar_enrique66@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"cb40822d-42a0-417c-94d8-c6de83e1adfe"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T12:36:51.908Z","createdAt":"2026-03-04T10:09:44.190Z","id":"G44ExrX54Jl7X5Io","name":"Whatsapp bot pepe","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-144,0],"id":"bbdfde5a-1d50-43ab-b3c6-fdbe087c238f","name":"Telegram Trigger","webhookId":"9a70f9ba-a076-4d8b-ad3d-5b9a65898b99","credentials":{"telegramApi":{"id":"1YPnKf1cdZoin2Bu","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"Eres \"Pepe\", un asistente virtual experto en gestión de alquileres vacacionales y atención al cliente. Tu objetivo es ayudar a los huéspedes que contactan por Telegram de forma amable, eficiente y personalizada.\n\n### INSTRUCCIONES OPERATIVAS:\n1. IDENTIFICACIÓN DE LA PROPIEDAD: Cada mensaje que recibes viene acompañado de información de una base de datos de Airtable. Tu primera prioridad es localizar la dirección o el nombre de la propiedad en los datos proporcionados para contextualizar tu respuesta.\n2. USO DE DATOS: Solo debes responder basándote en la información técnica y logística presente en el registro (record) de Airtable (ej. clave de wifi, instrucciones de check-in, normas de la casa, ubicación de suministros).\n3. DESCONOCIMIENTO: Si un huésped pregunta algo que no está especificado en el registro de Airtable, no inventes. Responde educadamente que consultarás con el equipo de gestión y que le informarás lo antes posible.\n\n### REGLAS DE ESTILO Y TONO:\n- Tono: Hospitalario, servicial y profesional. Usa un lenguaje cálido pero directo.\n- Idioma: Responde siempre en el mismo idioma en el que el huésped te escriba.\n- Claridad: Usa listas con viñetas para instrucciones complejas (como pasos para abrir una cerradura electrónica).\n- Personalización: Si el nombre del huésped está disponible, úsalo para saludar.\n\n### FLUJO DE RESPUESTA:\n- Saluda cordialmente.\n- Confirma que estás hablando de la propiedad específica (mencionando brevemente algo que le de seguridad, como \"Respecto a tu estancia en la calle [Nombre]...\").\n- Resuelve la duda técnica de forma precisa.\n- Despídete ofreciendo ayuda adicional.\n\nNo menciones nunca que eres un bot de n8n o que estás leyendo una base de datos de Airtable. Eres el asistente oficial de Inmopportunity."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[208,0],"id":"2089d276-c9ae-49f7-adbd-b4edf5018f7a","name":"AI Agent"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[544,-16],"id":"bfadec16-79e7-4816-b882-fdb3f0ee2308","name":"Send a text message","webhookId":"0fa50cab-4151-46fc-bcb5-809c7b61da18","credentials":{"telegramApi":{"id":"1YPnKf1cdZoin2Bu","name":"Telegram account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[80,208],"id":"a9e0b1ad-e56d-4035-a159-27e63739ac28","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"oQHQ38iVOjTdUWoy","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[224,208],"id":"08787b6f-93ff-48e9-95e0-f231148a2f86","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"encontrar el record correcto usando la direccion que da el usuario","operation":"search","base":{"__rl":true,"value":"appoXJhwM7tFUdvLw","mode":"list","cachedResultName":"PEPE","cachedResultUrl":"https://airtable.com/appoXJhwM7tFUdvLw"},"table":{"__rl":true,"value":"tblaTFSEn8LjAqhtp","mode":"list","cachedResultName":"propiedades","cachedResultUrl":"https://airtable.com/appoXJhwM7tFUdvLw/tblaTFSEn8LjAqhtp"},"returnAll":false,"limit":1,"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[368,208],"id":"f2754971-ae68-4505-ac6e-bb405df8ce21","name":"Search records in Airtable","credentials":{"airtableTokenApi":{"id":"IiQrPClUJULtQaAu","name":"Airtable Personal Access Token account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Search records in Airtable":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"11f79eba-7e8f-447f-a62d-8632e0cba85b","activeVersionId":"11f79eba-7e8f-447f-a62d-8632e0cba85b","versionCounter":30,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-04T10:09:44.216Z","createdAt":"2026-03-04T10:09:44.216Z","role":"workflow:owner","workflowId":"G44ExrX54Jl7X5Io","projectId":"wjd9HjBVrxUHW90l","project":{"updatedAt":"2026-02-08T16:32:40.650Z","createdAt":"2026-02-08T16:31:00.107Z","id":"wjd9HjBVrxUHW90l","name":"Omar Liendo Martinez <omar_enrique66@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"cb40822d-42a0-417c-94d8-c6de83e1adfe"}}],"versionMetadata":{"name":"Version 4 really append n8n attr","description":""}},{"updatedAt":"2026-03-12T13:46:41.031Z","createdAt":"2026-03-04T12:44:18.816Z","id":"R9qmh5FrAus2Fw0z","name":"Security Backup (workflows)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-144,-64],"id":"8d32f06b-0f76-4e00-bd2b-75d80306b41d","name":"Schedule Trigger"},{"parameters":{"jsCode":"const { execSync } = require('child_process');\n\ntry {\n  // Añadimos un timeout de 30000ms (30 segundos)\n  const output = execSync('sh /home/node/.n8n/backup_n8n.sh', { \n    timeout: 30000,\n    encoding: 'utf8' \n  });\n  \n  return [{\n    json: {\n      result: \"Success\",\n      output: output\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      result: \"Error\",\n      message: error.message,\n      // Si el script dio un error de sistema, esto te lo dirá\n      stderr: error.stderr ? error.stderr.toString() : \"No stderr output\"\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-64],"id":"8752d840-831b-4577-a944-3eb3907f42bf","name":"Code in JavaScript"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]}},"meta":null,"pinData":{},"versionId":"af087b0c-a5d4-416c-bcec-37f7efe8ceca","activeVersionId":"af087b0c-a5d4-416c-bcec-37f7efe8ceca","versionCounter":40,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-04T12:44:18.827Z","createdAt":"2026-03-04T12:44:18.827Z","role":"workflow:owner","workflowId":"R9qmh5FrAus2Fw0z","projectId":"wjd9HjBVrxUHW90l","project":{"updatedAt":"2026-02-08T16:32:40.650Z","createdAt":"2026-02-08T16:31:00.107Z","id":"wjd9HjBVrxUHW90l","name":"Omar Liendo Martinez <omar_enrique66@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"cb40822d-42a0-417c-94d8-c6de83e1adfe"}}],"versionMetadata":{"name":"Version af087b0c","description":""}},{"updatedAt":"2026-03-12T11:03:19.721Z","createdAt":"2026-03-09T13:41:13.070Z","id":"OW5qEOrfP0yp4oVO","name":"gmail agent","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"readStatus":"unread"}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[0,0],"id":"09d5eb7d-3b00-4ea1-b21a-64a274d41277","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"0w7CrQVs6ezxwbyW","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"={{ $json.snippet }}","options":{"systemMessage":"You are the Wanderful Abroad Intelligent Assistant, an expert relocation coaching consultant. Your mission is to assist clients moving abroad by answering questions and advancing their migration process.\n\nCRITICAL RULE: LANGUAGE MIRRORING\n\nDETECT AND MATCH: You must detect the language of the incoming email and respond exclusively in that same language (e.g., if the email is in English, respond in English; if in French, respond in French).\n\nNO DEFAULTING: Do not respond in Spanish unless the incoming email is in Spanish.\n\nDATA TRANSLATION: Even if the information retrieved from Airtable is in Spanish, you must translate and adapt it naturally into the client's language.\n\nGOLDEN RULES OF COMMUNICATION:\n\nTONE: Professional, empathetic, motivating, and highly organized.\n\nCONTEXT-FIRST: Before answering specific questions about procedures, prices, or availability, you MUST query the Airtable database using the provided tools.\n\nACCURACY: Never hallucinate visa requirements or prices. If information is missing from Airtable, politely inform the client (in their language) that you will consult a human expert and get back to them shortly.\n\nCALL TO ACTION: Ensure the client feels supported. Always invite them to take the next step in their relocation plan.\n\nMANDATORY WORKFLOW:\n\nAnalyze: Identify the sender's language, name, and primary concern.\n\nRetrieve: Use the Airtable tool to find the client's file or service details.\n\nDraft: Compose a personalized response entirely in the detected language.\n\nSend: Reply to the original email thread.\n\nRESTRICTIONS:\n\nDo not disclose that you are an AI unless explicitly asked.\n\nAlways sign off as: \"Team Wanderful Abroad\" (or the equivalent translation in the client's language).\n\nIf the client shows extreme frustration, tag the case as \"URGENT\" for human intervention."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[208,0],"id":"b2802956-0553-44af-adbb-3e8360577be8","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.From }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[224,208],"id":"2e0663ea-c323-4be4-bcb2-907f30124657","name":"Simple Memory"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[80,208],"id":"6d92d40a-5d8a-4980-9f06-6e97a26c293e","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"oQHQ38iVOjTdUWoy","name":"OpenRouter account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Utiliza esta herramienta para buscar información sobre procesos de visado, precios, servicios de coaching de Wanderful Abroad y soluciones a preguntas frecuentes de clientes. Busca por palabras clave relacionadas con la duda del cliente","operation":"search","base":{"__rl":true,"value":"appD2pKjC7FJeQ5zn","mode":"list","cachedResultName":"wanderful abroad","cachedResultUrl":"https://airtable.com/appD2pKjC7FJeQ5zn"},"table":{"__rl":true,"value":"tblrOvwtwAcj7vALg","mode":"list","cachedResultName":"Preguntas Frecuentes","cachedResultUrl":"https://airtable.com/appD2pKjC7FJeQ5zn/tblrOvwtwAcj7vALg"},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[368,208],"id":"5afccfc6-65e3-46af-a79b-bf1436ede0be","name":"Search records in Airtable","credentials":{"airtableTokenApi":{"id":"IiQrPClUJULtQaAu","name":"Airtable Personal Access Token account"}}},{"parameters":{"sendTo":"={{ $('Gmail Trigger').item.json.From }}","subject":"={{ $('Gmail Trigger').item.json.Subject }}","emailType":"text","message":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[528,-256],"id":"80b1e71e-3350-499a-ac20-5565622956ae","name":"Send a message","webhookId":"045d662b-0d72-4f02-9e40-029f46644c2e","credentials":{"gmailOAuth2":{"id":"0w7CrQVs6ezxwbyW","name":"Gmail account"}}},{"parameters":{"operation":"reply","messageId":"={{ $('Gmail Trigger').item.json.id }}","emailType":"text","message":"={{ $json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[560,0],"id":"49e78b50-e5f3-41e5-b4ad-8a01bbb14ad6","name":"Reply to a message","webhookId":"d795d4ef-e527-46cb-b84f-6cdfefd92746","credentials":{"gmailOAuth2":{"id":"0w7CrQVs6ezxwbyW","name":"Gmail account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Search records in Airtable":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Reply to a message","type":"main","index":0}]]},"Send a message":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1773318212,"possibleDuplicates":["19ce2009d0d7ae5d","19ce1b81c319872b"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"42931a5d-7a2a-4e2b-aba0-d7796e621114","activeVersionId":"42931a5d-7a2a-4e2b-aba0-d7796e621114","versionCounter":27,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-09T13:41:13.083Z","createdAt":"2026-03-09T13:41:13.083Z","role":"workflow:owner","workflowId":"OW5qEOrfP0yp4oVO","projectId":"wjd9HjBVrxUHW90l","project":{"updatedAt":"2026-02-08T16:32:40.650Z","createdAt":"2026-02-08T16:31:00.107Z","id":"wjd9HjBVrxUHW90l","name":"Omar Liendo Martinez <omar_enrique66@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"cb40822d-42a0-417c-94d8-c6de83e1adfe"}}],"versionMetadata":{"name":"Version 42931a5d","description":""}}]